---
import Layout from '../layouts/Layout.astro'
import GalleryItem from '../components/GalleryItem.astro'
import Modal from '../components/Modal.astro'

//	images
import ImageDenji from '../assets/denji.webp'
import ImageDenjiMin from '../assets/denji-min.webp'
import ImagePower from '../assets/power.webp'
import ImagePowerMin from '../assets/power-min.webp'
import ImageAki from '../assets/aki.webp'
import ImageAkiMin from '../assets/aki-min.webp'
import ImageHimeno from '../assets/himeno.webp'
import ImageHimenoMin from '../assets/himeno-min.webp'
import Imagekobeni from '../assets/kobeni.webp'
import ImagekobeniMin from '../assets/kobeni-min.webp'
import ImageMakima from '../assets/makima.webp'
import ImageMakimaMin from '../assets/makima-min.webp'
import ImageKatanaMan from '../assets/katana-man.webp'
import ImageKatanaManMin from '../assets/katana-man-min.webp'
---

<Layout title="Lightbox Image Gallery">
	<section class="gallery">
		<h1 class="gallery__block">
			Grid Gallery
		</h1>

		<GalleryItem
			title='Denji'
			image={ImageDenjiMin}
			dataImage={ImageDenji.src}
			dataDescription='Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, repudiandae eum veritatis quo labore eius cupiditate laudantium quae delectus. Doloremque velit fuga similique ducimus aut temporibus, atque accusantium consequatur dignissimos?'
		/>
		<GalleryItem
			title='Power'
			image={ImagePowerMin}
			dataImage={ImagePower.src}
			dataDescription='Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, repudiandae eum veritatis quo labore eius cupiditate laudantium quae delectus. Doloremque velit fuga similique ducimus aut temporibus, atque accusantium consequatur dignissimos?'
		/>
		<GalleryItem
			title='Aki'
			image={ImageAkiMin}
			dataImage={ImageAki.src}
			dataDescription='Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, repudiandae eum veritatis quo labore eius cupiditate laudantium quae delectus. Doloremque velit fuga similique ducimus aut temporibus, atque accusantium consequatur dignissimos?'
		/>
		<GalleryItem
			title='Himeno'
			image={ImageHimenoMin}
			dataImage={ImageHimeno.src}
			dataDescription='Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, repudiandae eum veritatis quo labore eius cupiditate laudantium quae delectus. Doloremque velit fuga similique ducimus aut temporibus, atque accusantium consequatur dignissimos?'
		/>
		<GalleryItem
			title='kobeni'
			image={ImagekobeniMin}
			dataImage={Imagekobeni.src}
			dataDescription='Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, repudiandae eum veritatis quo labore eius cupiditate laudantium quae delectus. Doloremque velit fuga similique ducimus aut temporibus, atque accusantium consequatur dignissimos?'
		/>
		<GalleryItem
			title='Makima'
			image={ImageMakimaMin}
			dataImage={ImageMakima.src}
			dataDescription='Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, repudiandae eum veritatis quo labore eius cupiditate laudantium quae delectus. Doloremque velit fuga similique ducimus aut temporibus, atque accusantium consequatur dignissimos?'
		/>
		<GalleryItem
			title='Katana Man'
			image={ImageKatanaManMin}
			dataImage={ImageKatanaMan.src}
			dataDescription='Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, repudiandae eum veritatis quo labore eius cupiditate laudantium quae delectus. Doloremque velit fuga similique ducimus aut temporibus, atque accusantium consequatur dignissimos?'
		/>
	</section>

	<Modal />
</Layout>

<style>
	.gallery {
		display: grid;
		grid-template-columns: repeat(2, 25vh);
		grid-template-rows: repeat(4, 25vh);
		gap: 16px;
		height: 100%;
		width: 100%;
		align-content: center;
		justify-content: center;
		padding-top: 1rem;
		padding-bottom: 1rem;

		@media screen and (width >= 768px) {
			grid-template-columns: repeat(4, 25vh);
			grid-template-rows: repeat(2, 25vh);
			height: 100vh;
		}

		.gallery__block {
			background-color: #000;
			padding: 2rem;
			width: 25vh;
			height: 25vh;
			color: #fff;
			font-size: 2.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
</style>
